<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /codi-lernapp
RewriteRule ^codi-lernapp/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /codi-lernapp/index.html [L]
</IfModule>